.eight-ul {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 5vw;
  height: 100%;
  position: relative;

  .eight-line-item {
    position: absolute;
  }
  .eight-line-dot {
    top: 0.65vw;
    left: -6.8%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #24804f;
  }
  .eight-line-line-1 {
    top: 0.65vw;
    left: -6%;
    width: 1px;
    height: 107%;
    background-color: black;
  }
  .eight-line-line-2 {
    top: 0.65vw;
    left: -6%;
    width: 1px;
    height: 107%;
    background-color: black;
  }
  .eight-ul-line-img {
    position: absolute;
    width: 112%;
    height: 100%;
    left: -6%;
    top: 0.7vw;
    z-index: 0;
    img {
      height: 100%;
    }
  }
  > h2 {
    font-size: var(--mainSize);
    font-weight: 500;
    font-family: var(--serif);
    color: #24804f;
    letter-spacing: 2px;
    margin-bottom: 1vw;
  }
  li {
    display: flex;
    align-items: center;
    letter-spacing: 2px;
    margin-bottom: 0.75vw;
    z-index: 5;
    width: 100%;
    > :nth-child(1) {
      position: relative;
      font-size: var(--navSize);
      font-family: var(--serif);
      font-weight: 600;
      width: 10.5vw;
      color: black;
      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -10%;
        margin-top: 5px;
        width: 0%;
        height: 3px;
        background-color: #bbab1e;
        transition: all 0.5s;
      }
    }
    > :nth-child(2) {
      font-size: 0.5vw;
      font-family: var(--lato);
      font-weight: 700;
      color: #80c463;
    }
    .eight-list-active {
      &::after {
        content: "";
        width: 100%;
        transition: all 0.5s;
      }
    }
  }
}
.eight-ul:nth-child(1) {
  margin-top: 3vw;
}
