.home-link-item {
  text-decoration: none;
  color: black;
  overflow: hidden;
  .home-link-span {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 9vw;
    height: 1.25vw;
    p {
      font-family: var(--serif);
      position: absolute;
      top: 0;
    }
    :nth-child(1) {
      font-size: var(--navSize);
      font-weight: 500;
      letter-spacing: 2px;
      transform: translateY(0%);
      transition: all 0.5s;
    }
    :nth-child(2) {
      font-size: var(--navSize);
      font-weight: 400;
      letter-spacing: 1px;
      transform: translateY(0%);
      transition: all 0.5s;
    }
  }
}
