.home-link-item {
  width: 100%;
  text-decoration: none;
  color: black;
  overflow: hidden;
  .home-link-span {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    p {
      font-family: var(--serif);
    }
    :nth-child(1) {
      font-size: var(--navSize);
      font-weight: 500;
      letter-spacing: 2px;
      transition: all 0.5s;
    }
    :nth-child(2) {
      margin-left: 0.55vw;
      margin-right: 0.75vw;
    }
    :nth-child(3) {
      font-size: var(--navSize);
      font-weight: 400;
      letter-spacing: 1px;
      transition: all 0.5s;
    }
    &:hover {
      :nth-child(1) {
        transition: all 0.5s;
        color: rgb(90, 206, 150);
      }
      :nth-child(3) {
        transition: all 0.5s;
        color: rgb(5, 165, 110);
      }
    }
  }
}
