.water-proof-swiper-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  padding-top: 5vw;
  z-index: 99;
  .swiper-main {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3vw;

    .swiper-img{
      width: 45vw;
      margin-right: 4%;
    }

    .swiper-button-prev,
    .swiper-button-next {
      color:  #ccc;
      border: none;
      background-color: transparent;
      top: 90%;
      width: 50px;
      height: 50px;

      &::after{
        font-size: 25px;
      }
      
    }
    .swiper-button-next {
      right: 31%;
    }
    .swiper-button-prev {
      left: 64%;
    }
    .swiper-pagination-bullet-active {
      background-color: white;
    }
    .swiper {
      width: 100%;
      margin-inline: 0;
    }
    .swiper-para {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      letter-spacing: 2px;
      width: 20vw;
      .swiper-para-h2 {
        position: relative;
        color: #075c33;
        font-family: var(--serif);
        font-size: var(--mainSize);
        margin-bottom: 9%;
        &::before{
          content: "";
          position: absolute;
          left: 0;
          bottom: -25%;
          width: 28%;
          height: 1px;
          background-color: #075c334a;
        }
      }
      .swiper-para-p {
        position: relative;
        display: flex;
        align-items: center;
        font-size: var(--navSize);
        font-family: var(--serif);
        margin-top: 0.2vw;
        width: 100%;
        overflow: hidden;
        padding: 1% 2%;
        transition: all 0.5s;
        // &::after {
        //   content: "";
        //   position: absolute;
        //   top: 0;
        //   left: -105%;
        //   height: 100%;
        //   width: 100%;
        //   background-color: #e4d8c4;
        //   z-index: -1;
        //   transition: all 0.5s;
        // }
        span {
          color: black;
        }
        .swiper-para-dot {
          width: 5px;
          height: 5px;
          background-color: #b4a388;
          margin-right: 0.5vw;
        }
        .swiper-para-p-bg {
          position: absolute;
          width: 100%;
          height: 100%;
          left: -105%;
          background-color: #e4d8c4;
          z-index: -1;
          transition: all 0.5s;
        }
        .swiper-para-p-bg-active {
          left: 0vw;
          transition: all 0.5s;
        }
      }
    }
  }
}
