#nav {
  width: 100%;
  // position: fixed;
  // flex: 1 1 8%;
  height: 8%;
  background: linear-gradient(
    to right,
    rgb(237, 237, 237) 0%,
    rgb(254, 254, 254) 100%
  );
  // background: linear-gradient(
  //   to right,
  //   #cdffde 0%,
  //   #e9ffd0 6%,
  //   #a6fff1 35%,
  //   #9dffb4 44%,
  //   #94ff71 50%,
  //   #9dffb4 56%,
  //   #a6fff1 65%,
  //   #e9ffd0 94%,
  //   #cdffde 100%
  // );
  padding-inline: 3.25vw;
  z-index: 100;
  background-size: 400%;
  // animation: neon 60s linear infinite;
  // @keyframes neon {
  //   from {
  //     background-position: 400%;
  //   }
  //   to {
  //     background-position: 0%;
  //   }
  // }
  .nav-container {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
  .nav-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row-reverse;
    .nav-left-dot {
      width: 1.25vw;
    }
    .nav-left-text {
      display: flex;
      align-items: center;
      font-family: var(--serif);
      font-size: var(--navSize);
      line-height: 1.75;
      letter-spacing: 1px;
      color: black;
      a {
        position: relative;
        padding-block: 0.75vw;
        text-decoration: none;
        font-weight: 500;
        color: black;
        &::after {
          content: "";
          position: absolute;
          top: 100%;
          left: 50%;
          width: 70%;
          height: 1px;
          opacity: 0.5;
          transform: translate(-50%, -50%);
          background-color: #8e8e8e;
        }
      }
      a:last-of-type {
        &::after {
          content: unset;
        }
      }
      .nav-left-text-item {
        position: relative;
        display: flex;
        align-items: baseline;
        gap: 2vw;
        padding-inline: 2vw;
        padding-block: 1.25vw;
        text-align: center;
        cursor: pointer;
        .nav-link-span {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          position: relative;
          width: 9vw;
          height: 2vw;
          overflow: hidden;
          :nth-child(1) {
            position: absolute;
            font-size: var(--navSize);
            font-weight: 500;
            letter-spacing: 2px;
            transform: translateY(0%);
          }
          :nth-child(2) {
            position: absolute;
            font-size: var(--navSize);
            font-weight: 400;
            letter-spacing: 1px;
            transform: translateY(0%);
          }
        }
        // &:hover {
        //   .nav-link-span {
        //     :nth-child(1) {
        //       transform: translateY(0%);
        //       transition: all 0.5s;
        //     }
        //     :nth-child(2) {
        //       transform: translateY(-100%);
        //       transition: all 0.5s;
        //     }
        //   }
        // }
        .nav-left-text-item-line {
          display: block;
          position: absolute;
          width: 1px;
          height: 0.65vw;
          transform: translate(-50%, -50%);
          top: 50%;
          left: 100%;
          background-color: black;
        }
        .nav-child {
          position: absolute;
          width: 100%;
          top: 50%;
          left: 0;
          opacity: 0;
          display: flex;
          justify-content: center;
          flex-direction: column;
          background: linear-gradient(
            to bottom,
            rgba(245, 245, 245, 1) 0%,
            rgba(250, 250, 250, 1) 50%,
            rgba(230, 230, 230, 1) 80%
          );
          pointer-events: none;
          transition: all 0.5s;
        }
      }
      .nav-left-text-item:hover {
        .nav-child {
          opacity: 1;
          top: 100%;
          pointer-events: all;
          transition: all 0.5s;
        }
      }
      .nav-left-text-item:last-child {
        .nav-left-text-item-line {
          background-color: transparent;
        }
      }
    }
  }
  .nav-right {
    width: 5vw;
  }
  @media print {
    display: none;
  }
}
